[submodule "src/avr/EThrottle/pid_autotuner"]
	path = src/arduino/libraries/pid_autotuner
	url = https://github.com/jackw01/arduino-pid-autotuner.git
[submodule "src/arduino/libraries/MegaCAN"]
	path = src/arduino/libraries/MegaCAN
	url = https://github.com/hankedan000/MegaCAN.git
[submodule "src/arduino/libraries/ArduinoLogging"]
	path = src/arduino/libraries/ArduinoLogging
	url = https://github.com/hankedan000/ArduinoLogging.git
[submodule "src/arduino/libraries/Arduino-PID-Library"]
	path = src/arduino/libraries/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "src/arduino/libraries/TaskScheduler"]
	path = src/arduino/libraries/TaskScheduler
	url = https://github.com/arkhipenko/TaskScheduler.git
